<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    {{ $trans := (index $.Site.Data .Lang).contact }}

    <div class="container">

        <h2 style="margin-top: 0; margin-bottom: 40px;">{{ $trans.title }}</h2>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>{{ $trans.our_address }}</h3>
                            <p>8 THE GREEN STE B, DOVER, DE 19901</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>{{ $trans.our_email }}</h3>
                            <p>info@ccontreras.tech</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bx bx-phone-call"></i>
                            <h3>{{ $trans.our_phone }}</h3>
                            <p>+ 1 (302) 348-9639</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="{{ $trans.your_name }}"
                                   required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="{{ $trans.your_email }}" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="{{ $trans.your_subject }}"
                               required>
                    </div>
                    <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="{{ $trans.your_message }}"
                                      required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center">
                        <button type="submit">{{ $trans.send_message }}</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
