<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    {{ $trans := (index $.Site.Data .Lang).footer }}

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ $trans.useful_links }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/" | relLangURL }}">{{ $trans.home }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/about" | relLangURL }}">{{ $trans.about_us }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/services" | relLangURL }}">{{ $trans.services }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.privacypolicies.com/live/3c1983b7-00f4-4609-8141-3cf939a0bcb1">{{ $trans.tos }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.privacypolicies.com/live/28ec9879-2c81-40d0-942b-8472b7c2bc39">{{ $trans.pp }}</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ $trans.our_services }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/services" | relLangURL }}">{{ $trans.web_development }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/services" | relLangURL }}">{{ $trans.app_development }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/services" | relLangURL }}">{{ $trans.design }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ "/services" | relLangURL }}">{{ $trans.pm }}</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>{{ $trans.contact_us }}</h4>
                    <p>
                        8 THE GREEN STE B <br>
                        DOVER, DE 19901 <br>
                        United States <br><br>
                        <strong>{{ $trans.phone }}</strong> +1 (302) 348-9639<br>
                        <strong>{{ $trans.email }}</strong> info@ccontreras.tech<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>{{ $trans.about_contreras }}</h3>
                    <p>{{ $trans.about_description }}</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/Contreras-106617634898819" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/contreras.tech/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/contreras-llc" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Contreras LLC</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ "vendor/aos/aos.js" | absURL }}"></script>
<script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}"></script>
<script src="{{ "vendor/glightbox/js/glightbox.min.js" | absURL }}"></script>
<script src="{{ "vendor/isotope-layout/isotope.pkgd.min.js" | absURL }}"></script>
<script src="{{ "vendor/php-email-form/validate.js" | absURL }}"></script>
<script src="{{ "vendor/purecounter/purecounter.js" | absURL }}"></script>
<script src="{{ "vendor/swiper/swiper-bundle.min.js" | absURL }}"></script>
<script src="{{ "vendor/waypoints/noframework.waypoints.js" | absURL }}"></script>

<!-- Template Main JS File -->
<script src="{{ "js/main.js" | absURL }}"></script>
