<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Contreras</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ "img/favicon.png" | absURL }}" rel="icon">
    <link href="{{ "img/apple-touch-icon.png" | absURL }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ "vendor/animate.css/animate.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/aos/aos.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/bootstrap-icons/bootstrap-icons.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/boxicons/css/boxicons.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/glightbox/css/glightbox.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "vendor/swiper/swiper-bundle.min.css" | absURL }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.1.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
