<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center {{ if .IsHome }}header-transparent {{ end }}">
<div class="container d-flex justify-content-between align-items-center">
    {{ $trans := (index $.Site.Data .Lang).nav }}

    <div class="logo">
        <h1 class="text-light"><a href="/"><span>Contreras</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a {{ if .IsHome }} class="active" {{ end }} href="{{ "/" | relLangURL }}">{{ $trans.home }}</a></li>
            <li><a {{ if strings.HasSuffix .URL "/about/" }} class="active" {{ end }} href="{{ "/about" | relLangURL }}">{{ $trans.about }}</a></li>
            <li><a {{ if strings.HasSuffix .URL "/services/" }} class="active" {{ end }} href="{{ "/services" | relLangURL }}">{{ $trans.services }}</a></li>
            <!--          <li><a href="portfolio.html">Portfolio</a></li>-->
            <!--          <li><a href="team.html">Team</a></li>-->
            <!--          <li><a href="blog.html">Blog</a></li>-->
            <li><a {{ if strings.HasSuffix .URL "/contact/" }} class="active" {{ end }} href="{{ "/contact" | relLangURL }}">{{ $trans.contact }}</a></li>
            <li class="dropdown"><a href="#"><span>{{ $trans.language }}</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    <li><a href="{{ $translation.Permalink}}">{{ $translation.Language.LanguageName }}</a></li>
                    {{ end }}
                    <!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
                    <!--                <ul>-->
                    <!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
                    <!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
                    <!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
                    <!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
                    <!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
                    <!--                </ul>-->
                    <!--              </li>-->
<!--                    <li><a href="/es{{ .Permalink | relURL}}" class="{{- if eq (string .Lang) "es" -}}active{{- end -}}">Spanish</a></li>-->
                    <!--              <li><a href="#">Drop Down 3</a></li>-->
                    <!--              <li><a href="#">Drop Down 4</a></li>-->
                </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</div>
</header><!-- End Header -->
