{{ define "main" }}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                <ol>
                    <li><a href="{{ "/" | relLangURL }}">Home</a></li>
                    <li>About Us</li>
                </ol>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ "img/about-brain.png" | absURL }}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3>Our Philosophy</h3>
                    <p>
                        We work with talented developers, designers, copy editors, and marketers from around the world.
                        The front end of an app, website, or technology is about communicating effectively with
                        audiences – and this is what our entire team strives to do.
                    </p>
                    <p>
                        No matter what business, no matter where you are in the world, our unrivaled industry and
                        function experts help you shape your future to create clearly defined, measurable value. We
                        co-create and co-innovate solutions that help you better connect with customers, improve
                        resilience, and drive sustainable growth.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="section-title">
                <h2>Our Team</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="/img/pato.jpeg" class="img-fluid" alt="">
                            <!--                            <div class="social">-->
                            <!--                                <a href=""><i class="bi bi-twitter"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-facebook"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-instagram"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-linkedin"></i></a>-->
                            <!--                            </div>-->
                        </div>
                        <div class="member-info">
                            <h4>Cristian Contreras</h4>
                            <span>Founder & CTO</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="/img/karen.jpeg" class="img-fluid" alt="">
                            <!--                            <div class="social">-->
                            <!--                                <a href=""><i class="bi bi-twitter"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-facebook"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-instagram"></i></a>-->
                            <!--                                <a href=""><i class="bi bi-linkedin"></i></a>-->
                            <!--                            </div>-->
                        </div>
                        <div class="member-info">
                            <h4>Karen Paula Rivera Eguizabal</h4>
                            <span>UX Desginer</span>
                        </div>
                    </div>
                </div>

                <!--                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
                <!--                    <div class="member">-->
                <!--                        <div class="member-img">-->
                <!--                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">-->
                <!--                            <div class="social">-->
                <!--                                <a href=""><i class="bi bi-twitter"></i></a>-->
                <!--                                <a href=""><i class="bi bi-facebook"></i></a>-->
                <!--                                <a href=""><i class="bi bi-instagram"></i></a>-->
                <!--                                <a href=""><i class="bi bi-linkedin"></i></a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="member-info">-->
                <!--                            <h4>William Anderson</h4>-->
                <!--                            <span>CTO</span>-->
                <!--                            <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat aliquid. Tenetur possimus qui enim.</p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>

    <!-- ======= Facts Section ======= -->
    <!--    <section class="facts section-bg" data-aos="fade-up">-->
    <!--      <div class="container">-->

    <!--        <div class="row counters">-->

    <!--          <div class="col-lg-3 col-6 text-center">-->
    <!--            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
    <!--            <p>Clients</p>-->
    <!--          </div>-->

    <!--          <div class="col-lg-3 col-6 text-center">-->
    <!--            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>-->
    <!--            <p>Projects</p>-->
    <!--          </div>-->

    <!--          <div class="col-lg-3 col-6 text-center">-->
    <!--            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>-->
    <!--            <p>Hours Of Support</p>-->
    <!--          </div>-->

    <!--          <div class="col-lg-3 col-6 text-center">-->
    <!--            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>-->
    <!--            <p>Hard Workers</p>-->
    <!--          </div>-->

    <!--        </div>-->

    <!--      </div>-->
    <!--    </section>&lt;!&ndash; End Facts Section &ndash;&gt;-->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Skills</h2>
                <!--                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint-->
                <!--                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia-->
                <!--                    fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">HTML <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">CSS <i class="val">95%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">JavaScript <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Photoshop <i class="val">90%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Ruby <i class="val">95%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Android <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">iOS <i class="val">90%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" style="background-color: orange;" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">ReactJS <i class="val">100%</i></span>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Skills Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <!--    <section class="testimonials" data-aos="fade-up">-->
    <!--      <div class="container">-->

    <!--        <div class="section-title">-->
    <!--          <h2>Tetstimonials</h2>-->
    <!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
    <!--        </div>-->

    <!--        <div class="testimonials-carousel swiper-container">-->
    <!--          <div class="swiper-wrapper">-->
    <!--            <div class="testimonial-item swiper-slide">-->
    <!--              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
    <!--              <h3>Saul Goodman</h3>-->
    <!--              <h4>Ceo &amp; Founder</h4>-->
    <!--              <p>-->
    <!--                <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
    <!--                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
    <!--                <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
    <!--              </p>-->
    <!--            </div>-->

    <!--            <div class="testimonial-item swiper-slide">-->
    <!--              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
    <!--              <h3>Sara Wilsson</h3>-->
    <!--              <h4>Designer</h4>-->
    <!--              <p>-->
    <!--                <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
    <!--                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
    <!--                <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
    <!--              </p>-->
    <!--            </div>-->

    <!--            <div class="testimonial-item swiper-slide">-->
    <!--              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
    <!--              <h3>Jena Karlis</h3>-->
    <!--              <h4>Store Owner</h4>-->
    <!--              <p>-->
    <!--                <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
    <!--                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
    <!--                <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
    <!--              </p>-->
    <!--            </div>-->

    <!--            <div class="testimonial-item swiper-slide">-->
    <!--              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
    <!--              <h3>Matt Brandon</h3>-->
    <!--              <h4>Freelancer</h4>-->
    <!--              <p>-->
    <!--                <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
    <!--                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
    <!--                <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
    <!--              </p>-->
    <!--            </div>-->

    <!--            <div class="testimonial-item swiper-slide">-->
    <!--              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
    <!--              <h3>John Larson</h3>-->
    <!--              <h4>Entrepreneur</h4>-->
    <!--              <p>-->
    <!--                <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
    <!--                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
    <!--                <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
    <!--              </p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="swiper-pagination"></div>-->
    <!--        </div>-->

    <!--      </div>-->
    <!--    </section>&lt;!&ndash; End Ttstimonials Section &ndash;&gt;-->

</main><!-- End #main -->
{{ end }}
