{{ define "main" }}
<main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Contacto</h2>
                <ol>
                    <li><a href="{{ "/" | relLangURL }}">Inicio</a></li>
                    <li>Contáctanos</li>
                </ol>
            </div>

        </div>
    </section><!-- End Contact Section -->

    {{ partial "contactus.html" . }}

    {{ partial "map.html" . }}

</main><!-- End #main -->
{{ end }}
