{{ define "main" }}
<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Services</h2>
                <ol>
                    <li><a href="{{ "/" | relLangURL }}">Home</a></li>
                    <li>Our Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <h2 style="margin-top: 0; margin-bottom: 40px;">Services</h2>

            <div class="row">
                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-code-alt"></i></div>
                    <h4 class="title">Web Development</h4>
                    <p class="description">Front-end and back-end web development across all major code bases and
                        platforms</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h4 class="title">Mobile App Development</h4>
                    <p class="description">iOS, Android, & Windows Development; Design, User Acquisition, & SDK
                        Reviews</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-paint"></i></div>
                    <h4 class="title">UX/Design</h4>
                    <p class="description">Creative, functional website and native mobile app user experience-driven
                        design</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-bar-chart-square"></i></div>
                    <h4 class="title">Product Management</h4>
                    <p class="description">Competitive analysis and industry assessments for web and mobile
                        projects</p>
                </div>
                </a>

            </div>
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-1.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Mission</a></h5>
                            <p class="card-text">To enhance the business growth of our customers with creative Design and Development to deliver market-defining high-quality solutions that create value and reliable, competitive advantage for our clients around the world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-2.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Plan</a></h5>
                            <p class="card-text">We always try to improve the quality of our products by exploring innovative ideas. We plan to deliver optimal solutions with quality and services at reasonable prices. For us, customer satisfaction is given top place.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-3.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Vision</a></h5>
                            <p class="card-text">To develop constantly and grow as a major IT service provider to become a leading performer, in providing quality Web and Software Development solutions in the competitive global marketplace.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-4.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Care</a></h5>
                            <p class="card-text">Our professional, flexible and integrated process is reflected in what we do. We always guide our customers to success. We can accelerate and quickly share the great work or products of your organization or business.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Service Details Section -->

</main><!-- End #main -->
{{ end }}
