{{ define "main" }}
<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Nuestros Servicios</h2>
                <ol>
                    <li><a href="{{ "/" | relLangURL }}">Inicio</a></li>
                    <li>Nuestros Servicios</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Services Section -->

    <section class="services">
        <div class="container">

            <h2 style="margin-top: 0; margin-bottom: 40px;">Servicios</h2>

            <div class="row">
                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-code-alt"></i></div>
                    <h4 class="title">Desarrollo Web</h4>
                    <p class="description">Desarrollo front-end y back-end en todos los frameworks y plataformas principales</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h4 class="title">Desarrollo de aplicaciones móviles</h4>
                    <p class="description">Desarrollo iOS y Android; Diseño, Adquisición de usuarios, y Reseñas</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-paint"></i></div>
                    <h4 class="title">Diseño/UX</h4>
                    <p class="description">Diseño orientado a la experiencia de usuario, creativo y funcional.</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-bar-chart-square"></i></div>
                    <h4 class="title">Gestión de Proyectos</h4>
                    <p class="description">Análisis competitivo y evaluaciones para proyectos web y mobile</p>
                </div>
                </a>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-1.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Nuestra Misión</a></h5>
                            <p class="card-text">Mejorar el crecimiento del negocio de nuestros clientes con desarrollo y diseño creativos para entregar soluciones de alta calidad que crean valor y una ventaja competitiva confiable para nuestros clientes alrededor del mundo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-2.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Nuestro Plan</a></h5>
                            <p class="card-text">Siempre intentamos mejorar la calidad de nuestros productos explorando ideas novedosas. Nuestro plan es entregar soluciones optimas con calidad y servicios a precios razonables. La satisfaccion de nuestros clientes es lo mas importante.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-3.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Nuestra Visión</a></h5>
                            <p class="card-text">Desarrollarnos de manera constante y crecer como un proveedor principal de servicios de IT para convertirnos en líderes del merado, proveyendo soluciones de desarrollo web de calidad en un mercado global competitivo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ "img/service-details-4.jpg" | absURL }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Nuestro Cuidado</a></h5>
                            <p class="card-text">Nuestro proceso profesional, flexible e integrado se refleja en lo que hacemos. Siempre guiamos a nuestros clientes al éxito. Tenemos la habilidad de acelerar y compartir rapidamente el gran trabajo o productos de tu organización o negocio.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Service Details Section -->

</main><!-- End #main -->
{{ end }}
