<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ .Content }}
    {{ partial "footer.html" . }}
  </body>
</html>
