{{ define "main" }}

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>Dream. Design. Develop.</h2>
                <p>We’re a team of digital craftsmen: designers and coders working to help you create beautiful,
                    user-friendly, digital products. Our blend of speed, quality, and product sensibility allows us to
                    help you at any step of your process.</p>
                <!--                <a href="" class="btn-get-started ">Read More</a>-->
            </div>
        </div>
    </div>
</section><!-- End Hero No Slider Sectio -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <h2 style="margin-top: 0; margin-bottom: 40px;">Services</h2>

            <div class="row">
                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch"
                data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-code-alt"></i></div>
                    <h4 class="title">Web Development</h4>
                    <p class="description">Front-end and back-end web development across all major codebases and
                        platforms</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch"
                data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h4 class="title">Mobile App Development</h4>
                    <p class="description">iOS, Android, & Windows Development; Design, User Acquisition, & SDK
                        Reviews</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-paint"></i></div>
                    <h4 class="title">UX/Design</h4>
                    <p class="description">Creative, functional website and native mobile app user experience-driven
                        design</p>
                </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-bar-chart-square"></i></div>
                    <h4 class="title">Product Management</h4>
                    <p class="description">Competitive analysis and industry assessments for web and mobile
                        projects</p>
                </div>
                </a>

            </div>

        </div>
    </section><!-- End Services Section -->

    <section class="frameworks">
        <div class="container">
            <h2 style="margin-bottom: 40px;">Frameworks & Technologies we work on</h2>

            <div class="row">
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/rails-logo.png" class="technology-img" alt="">
                        <h4 class="title">Ruby on Rails</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/laravel-logo.png" class="technology-img" alt="">
                        <h4 class="title">Laravel</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/angular-logo.png" class="technology-img" alt="">
                        <h4 class="title">Angular</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/reactjs-logo.png" class="technology-img" alt="">
                        <h4 class="title">ReactJS</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/nodejs-logo.png" class="technology-img" alt="">
                        <h4 class="title">NodeJS</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/android-logo.svg" class="technology-img" alt="">
                        <h4 class="title">Android</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Testimonials</h2>
            </div>

            <div class="testimonials-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="/img/jcr-logo.svg" class="testimonial-img" alt="">
                        <h3>JCR S.A.</h3>
                        <h4>Construction</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            With the help of Contreras, we were able to significantly streamline our expense tracking
                            process. A creative and efficient solution to our problems.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="/img/memeisa-logo.jpeg" class="testimonial-img" alt="">
                        <h3>Memeisa S.R.L.</h3>
                        <h4>Refrigeration</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Working with Contreras we were able to reach new clients after opening digital channels. An
                            appropriate and immediate response to our dissemination needs.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->

    <!-- ======= Contact Section ======= -->

    {{ partial "contactus.html" . }}

    {{ partial "map.html" . }}
</main><!-- End #main -->

{{ end }}
