{{ define "main" }}

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>Sueña. Diseña. Desarrolla.</h2>
                <p>Somos un equipo de artesanos digitales: diseñadores y desarrolladores que trabajan para ayudarte a crear productos hermosos y amigables.
                    Nuestra mezcla de velocidad, calidad, y sensibilidad al producto nos permite ayudarte en cualquier momento de tu proceso.</p>
<!--                <a href="" class="btn-get-started ">Read More</a>-->
            </div>
        </div>
    </div>
</section><!-- End Hero No Slider Sectio -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <h2 style="margin-top: 0; margin-bottom: 40px;">Servicios</h2>

            <div class="row">
                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bx-code-alt"></i></div>
                        <h4 class="title">Desarrollo Web</h4>
                        <p class="description">Desarrollo front-end y back-end en todos los frameworks y plataformas principales</p>
                    </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-mobile"></i></div>
                        <h4 class="title">Desarrollo de aplicaciones móviles</h4>
                        <p class="description">Desarrollo iOS y Android; Diseño, Adquisición de usuarios, y Reseñas</p>
                    </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-paint"></i></div>
                        <h4 class="title">Diseño/UX</h4>
                        <p class="description">Diseño orientado a la experiencia de usuario, creativo y funcional.</p>
                    </div>
                </a>

                <a href="{{ "/services" | relLangURL }}" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-bar-chart-square"></i></div>
                        <h4 class="title">Gestión de Proyectos</h4>
                        <p class="description">Análisis competitivo y evaluaciones para proyectos web y mobile</p>
                    </div>
                </a>

            </div>

        </div>
    </section><!-- End Services Section -->

    <section class="frameworks">
        <div class="container">
            <h2 style="margin-bottom: 40px;">Frameworks y Tecnologías con las que trabajamos</h2>

            <div class="row">
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/rails-logo.png" class="technology-img" alt="">
                        <h4 class="title">Ruby on Rails</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/laravel-logo.png" class="technology-img" alt="">
                        <h4 class="title">Laravel</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/angular-logo.png" class="technology-img" alt="">
                        <h4 class="title">Angular</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/reactjs-logo.png" class="technology-img" alt="">
                        <h4 class="title">ReactJS</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/nodejs-logo.png" class="technology-img" alt="">
                        <h4 class="title">NodeJS</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 d-flex align-items-stretch">
                    <div class="icon-box">
                        <img src="/img/android-logo.png" class="technology-img" alt="">
                        <h4 class="title">Android</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Testimonios</h2>
            </div>

            <div class="testimonials-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="/img/jcr-logo.svg" class="testimonial-img" alt="">
                        <h3>JCR S.A.</h3>
                        <h4>Construcción</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Con la ayuda de Contreras pudimos agilizar significativamente nuestro proceso de seguimiento de gastos. Una solución creativa y eficiente a nuestro problemas.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="/img/memeisa-logo.jpeg" class="testimonial-img" alt="">
                        <h3>Memeisa S.R.L.</h3>
                        <h4>Refrigeración</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Trabajando con Contreras pudimos alcanzar a nuevos clientes tras la apertura de canales digitales. Una respuesta apropiada e inmediata a nuestras necesidades de difusión.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->

    <!-- ======= Contact Section ======= -->

    {{ partial "contactus.html" . }}

    {{ partial "map.html" . }}
</main><!-- End #main -->

{{ end }}
